@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(250, 249, 249);
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

    #back-to-top {
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        background-color: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 9999;
    }

    #back-to-top.show {
        opacity: 1;
        visibility: visible;
    }

    .banner-text {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
    }

    .banner-text h1 {
        font-size: 24px;
        margin: 0;
    }


    /*scrollbar di Firefox */

::-webkit-scrollbar {
    width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Warna biru */
    border-radius: 6px;
}

/* scrollbar di Chrome, Safari, dan Edge */
::-webkit-scrollbar-track {
    background-color: #ecf0f1; /* Warna abu-abu */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Warna biru */
}

.vertical-line {
    border-left: 1px solid #000; /* Ganti warna dan ketebalan sesuai keinginan */
    height: 100px; /* Atur tinggi garis vertikal */
    margin-right: 20px; /* Sesuaikan margin kanan agar terlihat jelas */
}


.outline-title {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }